In [5]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib as style
import warnings
warnings.filterwarnings('ignore')

In [8]:
df=pd.read_csv(r"C:\Users\Krishna Kant Sinha\Downloads\medical_cost_insurance (1).csv")
df

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [9]:
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [11]:
df.info

<bound method DataFrame.info of       age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]>

In [13]:
df.isnull().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [20]:
df.columns

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'region', 'charges'], dtype='object')

In [22]:
df.describe()

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

In [ ]:
plt.figure(figsize=(5,5))
style.use('ggplot')
sns.countplot(x='sex',data=df)
plt.tile('Gender Distribution')
plt.show()

In [ ]:
plt.figure(figsize=(5,5))
sns.countplot(X='Smoker',data=df)
plt.title('Smoker')
plt.show()

In [ ]:
plt.figure(figsize=(5,5))
sns.countplot(X='Region',data=df)
plt.title('Region')
plt.show()

In [ ]:
plt.figure(figsize=(5,5))
sns.barplot(X='Region',Y='Charges',data=df)
plt.title('Cost vs Region')
plt.show()

In [ ]:
plt.figure(figsize=(5,5))
sns.barplot(X='Smoker',Y='Charges',data=df)
plt.title('Charges for Smokers')
plt.show()

In [ ]:
fig,axes=plt.subplots(1,3,figsize=(15,5),sharye=True)
fig.suptitle.('visualising Categorical columns')
sns.boxenplot(x='Smoker',y='charges',data=df,ax=axes[0])
sns.boxenplot(x='Sex',y='charges',data=df,ax=axes[1])
sns.boxenplot(x='Region',y='charges',data=df,ax=axes[2])

In [ ]:
df[['age','bmi','children','charges']].hist(bins=30,figsize=(10,10),color='blue')
plt.show()

In [ ]:
df.head()

In [ ]:
df['sex']=df['sex'].apply({'male':0,'female':1}.get)
df['region']=df['region'].apply({'Southeast':0,'Southwest':1,'Northeast':2,'Northwest':3}.get)
df['Smoker']=df['Smoker'].apply({'Yes':0,'no':1}.get)

In [ ]:
df.head()

In [ ]:
plt.figure(figsize=(10,7))
sns.heatmap(df.corr(),annot=True)
plt.show()

In [ ]:
x=df.drop(['charges','sex']axis=1)
y=df.charges

In [ ]:
x_train,x_test,y_train,y_test=test_train_split(x,y,testsize=0,3,random_state=42)
print('x_train shape',x_train.shape)
print('x_test shape',x_test.shape)
print('y_train shape',x_train.shape)
print('y_test shape',x_test.shape)

In [ ]:
linreg=LinearRegression()

In [ ]:
linreg.fit(x_train,y_train)
pred=linreg.predict(x_test)

In [ ]:
from sklearn.metrics import r2_score
print('r2 score:',(r2_score(y_test,pred)))

In [ ]:
plt.scatter(y_test,pred)
plt.xlabel('y test')
plt.ylabel('y pred')
plt.show()

In [ ]:
data={'age':40,'bmi':30,'children':2,'smoker':yes,'region':2}
index=[0]
cust_df=pd.dataframe(data,index)
cust_df

In [ ]:
cost_pred=linreg.predict(cust_df)
print('The Insuranc cost of the customer is:',cost_pred)